

 
  
  /* logo size - used pixels after recommendations of logos sizes articles */
  header img {
    width: 250px;
    height: 150px;
    
  }

  /* body style */
  body{
    background-color: white;
    font-family: 'Open Sans', Helvetica, Verdana, sans-serif;
    color: #222;
    font-size: 16px;
    width: 90%;
    padding: 2%;
    margin: 2% 3%;
  }

  a{
    text-decoration: none;
    /* color: inherit; */
    font-weight: 300;
  }

  /* Upper case letters to headers.*/
  h1, h2, h3{
    text-transform: uppercase;
  }

  
/* main header section */
.main-header{
  width: 95%;
  padding: 3vh; /* vh - relative to the height of the browser window size*/
  background-color: rgba(34, 34, 34, 0.226);
  margin-bottom: 2%;
}

  /* main nav section */
  .main-nav{
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: space-around; /* spaces between the nav bar links.*/
    align-items: center;
  }

    
  .main-nav ul li{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-right: 1em;
  }

  .main-nav ul li a{
    padding: 5% 0% 5% 30%;
    color:rgb(109, 109, 109);
  }

  /* end of main nav section */

#description h2 {
    margin-top: 3%;
    text-align: center;
    text-decoration: underline;
   
}
/*END OF HEADER */

/* for cart icon at the corners */
div.bottomright {
    position: fixed;
    bottom: 0;
    right: 0;
    float:right;
    width: 5%;
    
  }
  div.bottomleft {
    position: fixed;
    float: left;
    width: 5%;
    bottom: 0;
    left: 0;
    
  }
 
  div.topright {
    position: fixed;
    float: left;
    width: 5%;
    top: 0;
    right: 0;
    
  }
  div.topleft {
    position: fixed;
    float: left;
    width: 5%;
    top: 0;
    left: 0;
    
  }
  div.bottomright img, div.bottomleft img,div.topright img, div.topleft img {
    width: 3.5rem;
    height: 3.5rem;
  }

/* table design */

  #comparisonTable {
    border: 2px rgba(32, 202, 89, 0.918) solid;
    width: 80%;
    margin-left:auto; 
    margin-right:auto;
}

#comparisonTable tr:nth-child(even){
    background-color: #24212136;
}
#comparisonTable td, #comparisonTable th {
    border: 1px solid rgb(221, 221, 221);
    padding: 0;
}
#comparisonTable tr:hover {
    background-color: rgba(32, 202, 89, 0.397);
}

/* video styling */
video {
    background-color: rgba(32, 202, 89, 0.918);
    margin-top:3%;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block; 
  }

   /* positioning footer */
   footer {
       margin-top:3%;
    bottom: 0;
    text-align: center;
  }


  /* wrap the main section - image and fitures list.*/
  .fituresContainer {
    

    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    
}

/* fitures ul */
.ulcontainer ul {
   
  border: 2px rgb(156, 156, 156)  solid;
  width: 80%;
    list-style-type: none;
    flex:1;
    display: flex;
    flex-wrap: wrap; /* use flex wrap to start new line if the width is not enough to the content.*/
    margin: 2%;
}


.ulcontainer ul li {
  padding: 2%; 
  width: 35%;
  height: 35%;
  border: 2px rgb(156, 156, 156)  solid;
  margin: 1%;
  
}
/* for future use - buttons section from right to the fitures list.*/
/* .buttonsDiv {
  flex:1;
} */

a.button {
  
    border-radius: 1em;
    background-color: rgba(32, 202, 89, 0.918);
    color: rgb(255, 255, 255); 
    /* padding: 8px 18px; */
    padding:0.5rem; 
    text-decoration:none;
   
}
/* buttons div*/
.buttons {
    margin-left: 3em;
    margin-top:1rem;
    
}
a.button:hover {
  
  background-color: rgb(156, 156, 156);
 
}
footer a {
  color:rgba(28, 70, 42, 0.918);
}