/* logo */

#logo img {
    height:130px;
    width:130px;
    margin-left: 40px;
}
/* body - responsive width in percent */
body {
    font-family: sans-serif;
    width: 90%;
    padding: 70px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

/*nav bar with position-sticky - stays at the top of the screen */
/* sticky is acting like fixed position, but the position become fixed when the point get to top in this case.*/
nav {
    position: sticky;
    display: flex;
    height: 50px;
    background-color: rgba(30, 108, 160, 0.918);
    top: 0; /* for the sticky nav bar*/
    
    
    
    
}
nav ul {
    left: 100px;
    position: relative;
    margin-top: 50px;
    margin-top: auto;
    margin-bottom: auto;
   
    
}

nav li {
    margin: 20px;
    display : inline;
}

nav li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
#comparisonTable {
    border:2px solid rgba(30, 108, 160, 0.527);
}
/* table design */
#comparisonTable tr:nth-child(even){
    background-color: #24212136;
}
#comparisonTable td, #comparisonTable th {
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
}
#comparisonTable tr:hover {
    background-color: rgba(30, 108, 160, 0.527);
}

/* center elements */
.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

video {
    border: 2px rgba(30, 108, 160, 0.527) solid;
    margin-top:50px;
    width: 50%;
    height: auto;
  }

 
  /* #fituresList ul li {
    list-style-type: square;
} */

/* positioning image div */
.camdiv {
    height: 300px;
    margin-left: 200px;
    margin-right: auto;
    display: block; 
    float:left;
    
}

    /* positioning footer */
  footer {
      margin-top:80px;
    position: relative;
    bottom: 0;
    text-align: center;
    
    
  }
  /* for cart icon at the corners */
  div.bottomright {
    position: fixed;
    bottom: 0;
    right: 0;
    float:right;
    width: 100px;
    
  }
  div.bottomleft {
    position: fixed;
    float: left;
    width: 100px;
    top: 0;
    left: 0;
    
  }
  div.topright {
    position: fixed;
    float: left;
    width: 100px;
    top: 0;
    right: 0;
    
  }
  div.topleft {
    position: fixed;
    float: left;
    width: 100px;
    bottom: 0;
    left: 0;
    
  }

  /* fitures list */
  #fituresList {
    margin-top:20px;
  }

  

  #fituresList ul {
    list-style-type: none;

  }

  .box {
    float:left;
    width: 200px;
    height: 200px;
    padding: 10px;
}
#licontainer {
    
    height: 200px;
    float:left;
}
/* clear - after using absolute position */
.container { 
    clear: both;
    
    
} 

#tableSection {
    margin-top: 300px;
}
.btnsDiv {
    margin-top: 100px;
    border:1px black solid;
    width:100px;
    height: 100px;
}

a.button {
  
    border-radius: 12px;
    background-color: rgba(30, 108, 160, 0.918);
    color: rgb(255, 255, 255); 
    padding: 8px 18px;
    font-size: 20px;
    text-decoration:none;
   
}
a:hover {
    background-color: #9b9b9b;
}
